@tailwind base;
@layer base {
  :root {
    @apply font-Vazirmatn;
  }
}
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Vazirmatn;
  src: url("/Vazirmatn.ttf");
}

:root {
  direction: rtl;
}

.ltr1 {
  direction: rtl !important;
}

.loading {
  border: 3px solid hsla(185, 0%, 32%, 0.2);
  border-top-color: #cb1b1b;
  border-radius: 50%;
  width: 3em;
  height: 3em;
  animation: spin 1s linear infinite;
}

.loading-button {
  border: 3px solid #cb1b1b;
  border-top-color: white;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  animation: spin 1s linear infinite;
}

.loading-button-withoutbg {
  border: 3px solid white;
  border-top-color: #cb1b1b;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e9e7e7;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cb1b1b;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8a1111 !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.bghero {
  background-image: url("../public/herobg.jpg");
  background-position: center;
  background-size: cover;
}

.ad-img-border {
  border-radius: 16px 16px 0px 0px;
}

.recommendtion-border-radius {
  border-radius: 0px 0px 6px 6px;
}

.searchbox-border-radius {
  border-radius: 6px 6px 0px 0px;
}

.searchbox-border {
  border-bottom: 2px;
}
